<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>

    <div class="container-fluid">
        <form action="add-student" method="post">
            <div>
                <label for="">Name</label>
                <input type="text" name="name" class="form-control-sm">
            </div>
            
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control-sm">
            </div>

            <div>
                <label for="">Password</label>
                <input type="text" name="password" class="form-control-sm">
            </div>

            <button class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>