<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Page Styles -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body class="bg-light">
    
    <div class="d-flex justify-content-center header-register">
        <div class="w-50 p-4 mt-5 bordered">
            <h3 class="text-center">Register</h3>

            <form action="/register" method="post">

                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" required>

                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" name="password" required>

            
                <button class="btn btn-orange px-4 w-100 mt-4">Register</button>    
            </form>

            <hr>

            <div class="mt-4">
                <a href="javascript:void(0)" class="d-flex my-2 text-decoration-none">
                    <button class="btn border w-100">
                        <i class="bi bi-google px-2"></i>Register with Google
                    </button>
                </a>
                    
                <a href="javascript:void(0)" class="d-flex text-decoration-none">
                    <button class="btn border w-100">
                        <i class="bi bi-facebook px-2"></i>Register with Facebook
                    </button>
                </a>
            </div>

            <div class="mt-4 text-center">
                <p class="form-text">Have an account? 
                    <a href="/login">Login</a>
                </p>

                <!-- <button class="btn btn-primary w-100">Sign up with Traveligo</button> -->
            </div>
        </div>
    </div>

</body>
</html>