<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/enrollCourse" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" required>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" required>
        </div>

        <div>
            <select name="selectedCourse" required>
                <option value="none">-- Select course --</option>
                <option value="math">Mathematical MATH205</option>
                <option value="programming">Programming PROG101</option>
            </select>
        </div>

        <button>Submit</button>
    </form>
</body>
</html>